version: 2
jobs:
  test:
    docker:
      - image: cirrusci/flutter
    steps:
      - checkout
      - restore_cache:
          keys:
            - pub-cache-{{ .Branch }}-{{ checksum "pubspec.yaml" }}-{{ checksum "packages/core/pubspec.yaml" }}
            - pub-cache-{{ .Branch }}
            - pub-cache
      - run: COVERAGE=1 ./tool/test.sh
      - run: bash <(curl -s https://codecov.io/bash)
      - save_cache:
          key: pub-cache-{{ .Branch }}-{{ checksum "pubspec.yaml" }}-{{ checksum "packages/core/pubspec.yaml" }}
          paths:
            - ~/.pub-cache
