name: fwfh_svg
version: 0.11.0-alpha.1
description: WidgetFactory extension to render SVG with flutter_svg plugin.
homepage: https://github.com/daohoangson/flutter_widget_from_html

environment:
  flutter: ">=3.7.0"
  sdk: ">=2.19.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_svg: ^2.0.0
  flutter_widget_from_html_core: ^0.12.0-0

dependency_overrides:
  flutter_widget_from_html_core:
    path: ../core
  fwfh_text_style:
    path: ../fwfh_text_style

dev_dependencies:
  flutter_test:
    sdk: flutter
  golden_toolkit: ^0.15.0
  lint: any
  mocktail: ^0.3.0

flutter:
  assets:
    - test/images/
