name: demo_app
description: Flutter Widget from HTML demo app.
version: 0.0.1

environment:
  sdk: ">=2.6.0 <3.0.0"

dependencies:
  carousel_slider: ^4.0.0
  flutter:
    sdk: flutter
  flutter_widget_from_html: any
  flutter_widget_from_html_core: any
  fwfh_chewie: any
  fwfh_webview: any
  html: any
  http: any
  path_provider: any
  photo_view: ^0.13.0
  provider: ^5.0.0-0
  url_launcher: any

dependency_overrides:
  archive: ^3.0.0
  crypto: ^3.0.0
  file: ^6.0.0
  flutter_widget_from_html:
    path: ../packages/enhanced
  flutter_widget_from_html_core:
    path: ../packages/core
  fwfh_cached_network_image:
    path: ../packages/fwfh_cached_network_image
  fwfh_chewie:
    path: ../packages/fwfh_chewie
  fwfh_just_audio:
    path: ../packages/fwfh_just_audio
  fwfh_selectable_text:
    path: ../packages/fwfh_selectable_text
  fwfh_svg:
    path: ../packages/fwfh_svg
  fwfh_text_style:
    path: ../packages/fwfh_text_style
  fwfh_url_launcher:
    path: ../packages/fwfh_url_launcher
  fwfh_webview:
    path: ../packages/fwfh_webview
  uuid: ^3.0.0

dev_dependencies:
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter
  golden_toolkit: ^0.13.0
  lint: any
  test: any

flutter:
  assets:
    - images/
    - logos/
    - test/goldens.json
  fonts:
    - family: Courier
      fonts:
        - asset: fonts/RobotoMono/RobotoMono-Regular.ttf
    - family: Roboto
      fonts:
        - asset: packages/golden_toolkit/fonts/Roboto-Regular.ttf
  uses-material-design: true
