name: demo_app
description: Flutter Widget from HTML demo app.
version: 0.0.1

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_widget_from_html:
  flutter_widget_from_html_core:
  html: any
  provider: ^3.0.0+1

dependency_overrides:            # dep_override
  flutter_widget_from_html:      # dep_override
    path: ../enhanced            # dep_override
  flutter_widget_from_html_core: # dep_override
    path: ../core                # dep_override

dev_dependencies:
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter
  golden_toolkit: ^0.2.3
  pedantic: any
  test: any

flutter:
  assets:
    - logos/
  fonts:
    - family: Courier
      fonts:
        - asset: fonts/RobotoMono/RobotoMono-Regular.ttf
    - family: Roboto
      fonts:
        - asset: packages/golden_toolkit/fonts/Roboto-Regular.ttf
  uses-material-design: true
