name: demo_app
description: Flutter Widget from HTML demo app.
version: 0.0.1
publish_to: "none"

environment:
  flutter: ">=3.24.0"
  sdk: ">=3.5.0 <4.0.0"

dependencies:
  carousel_slider: ^5.0.0
  flex_color_scheme: ^8.0.0
  flutter:
    sdk: flutter
  flutter_widget_from_html: any
  flutter_widget_from_html_core: any
  fwfh_chewie: any
  fwfh_webview: any
  html: any
  http: any
  logging: any
  path_provider: any
  photo_view: ^0.15.0
  provider: ^6.0.0
  url_launcher: any

dependency_overrides:
  flutter_widget_from_html:
    path: ../packages/enhanced
  flutter_widget_from_html_core:
    path: ../packages/core
  fwfh_cached_network_image:
    path: ../packages/fwfh_cached_network_image
  fwfh_chewie:
    path: ../packages/fwfh_chewie
  fwfh_just_audio:
    path: ../packages/fwfh_just_audio
  fwfh_svg:
    path: ../packages/fwfh_svg
  fwfh_url_launcher:
    path: ../packages/fwfh_url_launcher
  fwfh_webview:
    path: ../packages/fwfh_webview

dev_dependencies:
  flutter_launcher_icons: ^0.14.0
  flutter_test:
    sdk: flutter
  golden_toolkit: ^0.15.0
  lint: any
  measurer: ^2.1.1
  patrol: ^3.12.0
  test: any

flutter:
  assets:
    - images/
    - logos/
    - test/goldens.json
  fonts:
    - family: Courier
      fonts:
        - asset: fonts/RobotoMono/RobotoMono-Regular.ttf
    - family: Roboto
      fonts:
        - asset: packages/golden_toolkit/fonts/Roboto-Regular.ttf
  uses-material-design: true

flutter_launcher_icons:
  image_path: logos/icon.png
  android: true
  ios: true
  remove_alpha_ios: true
  macos:
    generate: true
  web:
    generate: true

patrol:
  app_name: Flutter Widget from HTML
  android:
    package_name: dev.fwfh.demo_app
  ios:
    bundle_id: dev.fwfh.demoApp
