name: flutter_widget_from_html
version: 0.6.0-rc.2021022601
description: Flutter package for widget tree building from html that supports hyperlink, image, nested list, etc.
homepage: https://github.com/daohoangson/flutter_widget_from_html

environment:
  # flutter_widget_from_html_core
  flutter: ">=1.20.0"
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  cached_network_image: ^2.2.0+1
  chewie: ^0.12.2
  flutter:
    sdk: flutter
  flutter_svg: ^0.20.0-0
  flutter_widget_from_html_core: ^0.6.0-0
  fwfh_url_launcher: ^0.6.0-0
  fwfh_webview: ^0.0.1
  html: ^0.15.0
  video_player: ">=0.10.12 <2.0.0"

dependency_overrides:
  flutter_widget_from_html_core:
    path: ../core
  fwfh_url_launcher:
    path: ../fwfh_url_launcher
  fwfh_webview:
    path: ../fwfh_webview
  wakelock: ^0.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  golden_toolkit: any
  mockito: any
  network_image_mock: any
  pedantic: any

flutter:
  assets:
    - test/images/
