name: flutter_widget_from_html
version: 0.7.0
description: Flutter package to render html as widgets that supports hyperlink, image, audio, video, iframe and many other tags.
homepage: https://github.com/daohoangson/flutter_widget_from_html

environment:
  flutter: ">=2.2.0"
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_widget_from_html_core: ^0.7.0
  fwfh_cached_network_image: ^0.7.0
  fwfh_chewie: ^0.7.0
  fwfh_just_audio: ^0.6.2
  fwfh_svg: ^0.7.0
  fwfh_url_launcher: ^0.6.1+2
  fwfh_webview: ^0.6.1+2
  html: ^0.15.0

dependency_overrides:
  flutter_widget_from_html_core:
    path: ../core
  fwfh_cached_network_image:
    path: ../fwfh_cached_network_image
  fwfh_chewie:
    path: ../fwfh_chewie
  fwfh_just_audio:
    path: ../fwfh_just_audio
  fwfh_svg:
    path: ../fwfh_svg
  fwfh_url_launcher:
    path: ../fwfh_url_launcher
  fwfh_webview:
    path: ../fwfh_webview

dev_dependencies:
  file:
  flutter_test:
    sdk: flutter
  golden_toolkit: ^0.11.0
  lint: any
  mocktail: any
  network_image_mock: any

flutter:
  assets:
    - test/images/
