name: Demo App
on:
  push:
    paths: 
      - .github/workflows/demo_app.yml
      - 'demo_app/**'
      - 'packages/**'

jobs:
  apk:
    name: Build Android APKs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Flutter
        uses: subosito/flutter-action@v1
      - run: flutter build apk --split-per-abi
        working-directory: demo_app
      - uses: actions/upload-artifact@v2
        with:
          name: armeabi-v7a.apk
          path: demo_app/build/app/outputs/apk/release/app-armeabi-v7a-release.apk
      - uses: actions/upload-artifact@v2
        with:
          name: arm64-v8a.apk
          path: demo_app/build/app/outputs/apk/release/app-arm64-v8a-release.apk
      - uses: actions/upload-artifact@v2
        with:
          name: x86_64.apk
          path: demo_app/build/app/outputs/apk/release/app-x86_64-release.apk
