name: Demo
on:
  push:

jobs:
  apk:
    name: Build Android APKs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: master
      - run: flutter build apk --split-per-abi
        working-directory: demo_app
      - uses: actions/upload-artifact@v3
        with:
          name: armeabi-v7a.apk
          path: demo_app/build/app/outputs/apk/release/app-armeabi-v7a-release.apk
      - uses: actions/upload-artifact@v3
        with:
          name: arm64-v8a.apk
          path: demo_app/build/app/outputs/apk/release/app-arm64-v8a-release.apk
      - uses: actions/upload-artifact@v3
        with:
          name: x86_64.apk
          path: demo_app/build/app/outputs/apk/release/app-x86_64-release.apk

  web:
    name: Deploy Web
    if: ${{ github.actor == 'daohoangson' }}
    defaults:
      run:
        working-directory: demo_app
    environment:
      name: vercel
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: master
      - run: flutter config --enable-web
      - name: Run flutter build web
        run: |
          set -e

          flutter build web --web-renderer canvaskit
          mv ./build/web ./build/web-canvaskit

          flutter build web --web-renderer html
          mv ./build/web ./build/web-html

          flutter build web --web-renderer auto
          mv ./build/web-canvaskit ./build/web/canvaskit
          mv ./build/web-html ./build/web/html

      - name: Generate supported/tags.html
        run: |
          set -e

          cd ./test/goldens
          php tags.php >tags.html
          cd ..
          cp -R goldens ../build/web/supported

      - name: Deploy via Vercel
        id: now
        env:
          PROJECT_JSON: ${{ secrets.EXAMPLE_PROJECT_JSON }}
          TOKEN: ${{ secrets.ZEIT_TOKEN }}
        if: env.PROJECT_JSON != null && env.TOKEN != null
        run: |
          set -e

          cd ./build/web
          { \
            echo '{'; \
            echo '  "version": 2,'; \
            echo '  "builds": ['; \
            echo '  	{ "src": "./**/*", "use": "@now/static" }'; \
            echo '  ]'; \
            echo '}'; \
          } > ./now.json

          mkdir -p ./.now && echo "$PROJECT_JSON" > ./.now/project.json

          if [ $GITHUB_REF == 'refs/heads/master' ]; then
            _url=$( now  --prod --token "$TOKEN" )
          else
            _url=$( now --token "$TOKEN" )
          fi

          _url="${_url//'%'/'%25'}"
          _url="${_url//$'\n'/'%0A'}"
          _url="${_url//$'\r'/'%0D'}"
          echo "::set-output name=url::${_url}"
      - name: Create commit comment
        if: steps.now.conclusion == 'success'
        uses: daohoangson/comment-on-github@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          body: "Deployed ${{ github.sha }} to ${{ steps.now.outputs.url }}.\n\nQuick links:\n- [supported/tags.html](${{ steps.now.outputs.url }}/supported/tags.html)\n- [Hello World](${{ steps.now.outputs.url }}/#/helloworld)\n- [Hello World (core)](${{ steps.now.outputs.url }}/#/helloworldcore)\n- [Wordpress](${{ steps.now.outputs.url }}/#/wordpress)\n- [--web-renderer canvaskit](${{ steps.now.outputs.url }}/canvaskit/)\n- [--web-renderer html](${{ steps.now.outputs.url }}/html/)"
          fingerprint: "## Demo app"
          replace: please
