name: Flutter@master
on:
  push:
    branches:
      - release/master
  pull_request:
    branches:
      - release/master

jobs:
  unit_test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: master
      - run: ./tool/test.sh
