name: Flutter@beta
on:
  push:
    branches:
      - release/beta
  pull_request:
    branches:
      - release/beta

jobs:
  unit_test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: beta
      - run: ./tool/test.sh --coverage
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: failures
          path: demo_app/test/failures/
      - uses: codecov/codecov-action@v2
