name: Flutter
on:
  push:
    paths: 
      - .github/workflows/flutter.yml
      - 'demo_app/**'
      - 'packages/**'
      - 'tool/dartdoc/**'

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Flutter
        uses: subosito/flutter-action@v1
      - name: Run flutter format
        run: flutter format --dry-run --set-exit-if-changed .
      - name: Analyze core
        run: cd packages/core && flutter analyze
      - name: Analyze enhanced
        run: cd packages/enhanced && flutter analyze
      - name: Analyze demo_app
        run: cd demo_app && flutter analyze

  unit_test:
    name: Unit test
    strategy:
      matrix:
        channel: [dev, beta, stable]
    continue-on-error: ${{ matrix.channel != 'stable' }}
    runs-on: ubuntu-latest
        
    steps:
      - uses: actions/checkout@v2
      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          channel: ${{ matrix.channel }}
      - name: Run ./tool/test.sh
        run: |
          if [ "${{ matrix.channel }}" == "stable" ]; then
            ./tool/test.sh --coverage
            bash <(curl -s https://codecov.io/bash)
          else
            ./tool/test.sh
          fi

  dartdoc:
    name: Document
    needs:
      - analyze
      - unit_test
    runs-on: ubuntu-latest
        
    steps:
      - uses: actions/checkout@v2
      - name: Setup Flutter
        uses: subosito/flutter-action@v1
      - name: Generate document
        run: |
          set -e
          
          ( cd packages/core && ../../tool/dartdoc/dartdoc.sh )
          ( cd packages/enhanced && ../../tool/dartdoc/dartdoc.sh )
      - name: Deploy via now.sh
        id: now
        run: |
          set -e
          
          mkdir -p ./.now && echo '${{ secrets.DOCUMENT_PROJECT_JSON }}' > ./.now/project.json
          cp ./tool/dartdoc/now.json ./now.json
          _url=$( now --token ${{ secrets.ZEIT_TOKEN }} )

          _url="${_url//'%'/'%25'}"
          _url="${_url//$'\n'/'%0A'}"
          _url="${_url//$'\r'/'%0D'}"
          echo "::set-output name=url::${_url}"
      - uses: actions/github-script@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const now = ${{ toJSON(steps.now.outputs) }}
            const { url } = now

            github.repos.createCommitComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              commit_sha: context.sha,
              body: `Deployed dartdoc to ${url}.\n\nQuick links:\n- [core](${url}/packages/core/doc/api/)\n- [enhanced](${url}/packages/enhanced/doc/api/)`
            })    
