name: Integration test
on:
  push:
    paths:
      - .github/workflows/integration_test.yml
      - "demo_app/**"
      - "packages/fwfh_chewie/**"
      - "packages/fwfh_webview/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - name: Setup Flutter
        uses: subosito/flutter-action@44ac965b96f18d999802d4b807e3256d5a3f9fa1 # v2.16.0
        with:
          cache: true
      - uses: gradle/actions/setup-gradle@d9c87d481d55275bb5441eef3fe0e46805f9ef70 # v3.5.0
        with:
          # only update gradle cache from demo_app.yml jobs
          cache-read-only: true
      - run: echo JAVA_HOME=$JAVA_HOME_17_X64 >> $GITHUB_ENV

      - name: Run patrol build
        run: |
          set -e

          dart pub global activate patrol_cli

          cd demo_app
          flutter build apk --config-only
          patrol build android --verbose --target integration_test/auto_resize_test.dart

      - uses: google-github-actions/auth@71fee32a0bb7e97b4d33d548e7d957010649d8fa # v2.1.3
        with:
          credentials_json: ${{ secrets.FIREBASE_TEST_LAB_CREDENTIALS_JSON }}
      - uses: google-github-actions/setup-gcloud@98ddc00a17442e89a24bbf282954a3b65ce6d200 # v2.1.0
      - name: Firebase Test Lab
        run: |
          set -e

          cd demo_app
          export ANDROID_DEVICE_MODEL=redfin
          export ANDROID_DEVICE_VERSION=30

          # https://github.com/leancodepl/patrol/blob/master/dev/e2e_app/run_android_testlab
          gcloud firebase test android run \
            --app build/app/outputs/apk/debug/app-debug.apk \
            --client-details matrixLabel="GitHub #${{ github.run_id }}" \
            --device model="$ANDROID_DEVICE_MODEL",version="$ANDROID_DEVICE_VERSION",locale=en,orientation=portrait \
            --results-bucket=fwfh-dev-patrol-public \
            --test build/app/outputs/apk/androidTest/debug/app-debug-androidTest.apk \
            --timeout 10m \
            --type instrumentation \
            --use-orchestrator

  ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - name: Setup Flutter
        uses: subosito/flutter-action@44ac965b96f18d999802d4b807e3256d5a3f9fa1 # v2.16.0
        with:
          cache: true

      - name: Unlock Fastlane secrets
        env:
          GIT_CRYPT_KEY: ${{ secrets.GIT_CRYPT_KEY }}
        run: |
          set -e

          brew install git-crypt
          echo "${GIT_CRYPT_KEY}" | base64 -d >/tmp/git-crypt-key
          git-crypt unlock /tmp/git-crypt-key
      - name: Run patrol build
        run: |
          set -e

          dart pub global activate patrol_cli

          cd demo_app/ios
          fastlane patrol_build

      - uses: google-github-actions/auth@71fee32a0bb7e97b4d33d548e7d957010649d8fa # v2.1.3
        with:
          credentials_json: ${{ secrets.FIREBASE_TEST_LAB_CREDENTIALS_JSON }}
      - uses: google-github-actions/setup-gcloud@98ddc00a17442e89a24bbf282954a3b65ce6d200 # v2.1.0
      - name: Firebase Test Lab
        run: |
          set -e

          export IOS_DEVICE_MODEL=iphone13pro
          export IOS_DEVICE_VERSION=16.6

          # https://github.com/leancodepl/patrol/blob/master/dev/e2e_app/run_ios_testlab
          cd demo_app/build/ios_integ/Build/Products
          zip -r ios_tests.zip Release-iphoneos/*.app *.xctestrun

          gcloud firebase test ios run \
            --client-details matrixLabel="GitHub #${{ github.run_id }}" \
            --device model="$IOS_DEVICE_MODEL",version="$IOS_DEVICE_VERSION",locale=en_US,orientation=portrait \
            --results-bucket=fwfh-dev-patrol-public \
            --test ios_tests.zip \
            --timeout 10m \
            --type xctest
